//Colors
    //Primary
    $primary-color-red: rgb(254, 120, 103); // background glass
    $primary-color-yellow: hsl(51, 100%, 49%); // background egg
    $primary-color-darkcyan: hsl(167, 40%, 24%); // graphic design text
    $primary-color-blue: hsl(198, 62%, 26%); // paragraph text
    $primary-color-lightcyan: hsl(168, 34%, 41%); // footer
        //Neutral
    $neutral-color-dark-blue: hsl(212, 27%, 19%); // main titels
    $neutral-color-very-grayishblue: hsl(213, 9%, 39%); // main paragraphs
    $neutral-color-dark-grayishblue: hsl(232, 10%, 55%); // testimonial title
    $neutral-color-grayishblue: hsl(210, 4%, 67%); // testimonial (subtitle)
    $neutral-color-white: hsl(0, 0%, 100%); //header elements

    $f-family-titles: 'Fraunces', serif;
    $f-family-body: 'Barlow', sans-serif;

    $f-size-body: 18px;
    